<div class="character-card" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="1">
    <div fxFlex class="image-container">
        <img src={{character.image}} alt="Photo of a Shiba Inu" class="character-image">
    </div>
    <div fxFlex>
        <div fxLayout="column" fxLayoutAlign="space-between" class="character-data">
            <div>
                <h2 class="character-name-title">{{character.name | uppercase}}</h2>
                <p class="gray-font">{{character.description}}</p>
            </div>
            <div>
                <p class="gray-font">Series: {{character.series}}</p>
            </div>
            <div>
                <p class="gray-font">Stories: {{character.stories}}</p>
            </div>
            <div fxLayoutAlign="end">
                <button mat-button mat-dialog-close>CLOSE</button>
            </div>
        </div>
    </div>
</div>