<div class="character-card" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex>
      <img src={{character.image}} alt="Photo of a Shiba Inu" class="character-image">
    </div>
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="space-between" class="character-data">
        <div>
          <h2 class="character-name-title">{{character.name | uppercase}}</h2>
          <p class="gray-font">{{character.description}}</p>
        </div>
        <div>
          <button class="view-more-button"><b>VIEW MORE</b></button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <h3 class="gray-font related-comics-title">Related comics</h3>
  </div>
  <div fxLayout="row">
    <div fxFlex="50"><p class="gray-font">Black Widow (2020) #4 and more</p></div>
    <div fxFlex="50"><p class="gray-font">Black Widow (2020) #5</p></div>
  </div>
</div>
