<div class="character-card" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex>
      <img src={{character.image}} alt="Photo of a Shiba Inu" class="character-image">
    </div>
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="space-between" class="character-data">
        <div>
          <h2 class="character-name-title">{{character.name | uppercase}}</h2>
          <p class="gray-font">{{character.description}}</p>
        </div>
        <div>
          <button class="view-more-button" (click)="openDetailDialog()"><b>VIEW MORE</b></button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <h3 class="gray-font related-comics-title">Related comics</h3>
  </div>
  <div fxLayout="row wrap" class="related-comic-list">
    <div *ngFor="let comic of character.comics" class="related-comic-link" (click)="openComicDialog(comic.id)">
      <p class="gray-font">{{comic.title}}</p>
    </div>
    <div *ngIf="character.comics.length==0">
      <p class="gray-font">No related comics found X(</p>
    </div>
  </div>
</div>
