h1
    margin: 0px !important
    font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif
    font-weight: bold

button
    padding: 0px
    border: 10px

.comic-card
    width: auto
    height: auto
    min-width: 200px
    max-width: 700px
    max-height: 600px !important
    padding-top: 10px
    background-color: white
    border-radius: 1%
    div
        div
            padding-right: 10px

.image-container
    width: 100%
    height: 300px
    max-height: 300px
    margin: 0px
    padding: 10px

.data-container
    padding: 20px

.spinner-container
    width: 700px

.comic-image
    width: 100%
    height: 100%

.comic-data
    margin-left: 20px

.toggle-favourite
    background-color: #ECEFF0
    padding: 10px
    h1
        color: #202020
        cursor: pointer
    img
        width: 24px
        height: 24px
        margin: 5px
        cursor: pointer

.comic-price
    background-color: #E1E1E1
    padding: 10px
    h1
        color: #EC1D24
    img
        width: 24px
        height: 24px
        margin: 5px
