html, body { 
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 400px;
}

button:focus { 
    outline: none !important;
}

.mat-dialog-container{
    padding: 0px !important;
}

.gray-font{
    color: #A2A2A2;
}

.close-image, .remove-image{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
